@import "../../utils//styles/variables.scss";

.collection-item {
  height: 350px;
  width: 22%;
  flex-direction: column;
  display: flex;
  align-items: center;
  position: relative;

  .custom-button {
    opacity: 0.7;
    position: absolute;
    top: 255px;
    display: none;
  }

  &:hover {
    .background-image {
      opacity: 0.8;
    }

    .custom-button {
      opacity: 0.85;
      display: flex;
    }
  }

  .background-image {
    background-color: $black;
    background-size: cover;
    background-position: center;
    height: 95%;
    width: 100%;
    margin-bottom: 5px;
  }

  .collection-footer {
    height: 5%;
    font-size: 18px;
    display: flex;
    width: 100%;
    justify-content: space-between;

    .name {
      width: 90%;
      margin-bottom: 15px;
    }

    .price {
      width: 10%;
    }
  }
}
